In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('csvtimetable.csv')

In [ ]:
df2 = df.ix[:9, :11]

del df

In [ ]:
mon_df = pd.DataFrame(index = range(10), columns=[\
                        'Time', 'Date', 'Room', 'Room_Capacity', 'Module', 'Registered_Students'])

tue_df = pd.DataFrame(index = range(10), columns=[\
                        'Time', 'Date', 'Room', 'Room_Capacity', 'Module', 'Registered_Students'])

wed_df = pd.DataFrame(index = range(10), columns=[\
                        'Time', 'Date', 'Room', 'Room_Capacity', 'Module', 'Registered_Students'])

thu_df = pd.DataFrame(index = range(10), columns=[\
                        'Time', 'Date', 'Room', 'Room_Capacity', 'Module', 'Registered_Students'])

fri_df = pd.DataFrame(index = range(10), columns=[\
                        'Time', 'Date', 'Room', 'Room_Capacity', 'Module', 'Registered_Students'])

day_tables = [mon_df, tue_df, wed_df, thu_df, fri_df]

In [ ]:
n = 1

for table in day_tables:
    table.Time = df2[[0]].ix[1:]
    table.Module = df2[[n]].ix[1:] 
    table.Registered_Students = df2[[n+1]].ix[1:]
    table.Room= df2.columns[0]
    table.Room_Capacity = df2.columns[2].split(' ')[2]
    # date. changeable
    n += 2
    
del n

In [ ]:
B002_timetable = pd.concat(day_tables)

In [ ]:
B002_timetable = B002_timetable[B002_timetable.Time.notnull()]

In [ ]:
# optional, fill NaNs in class timetables

# B002_timetable.Module.fillna(value = 'No Module?')
# B002_timetable.Registered_Students.fillna(value = 'No Module?')

In [ ]:
B002_timetable