In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
import statsmodels
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
import os
%matplotlib inline

In [5]:
os.chdir('/home/mike/PycharmProjects/WiFinder/Data/final_csvs')

In [6]:
df = pd.read_csv('merged_table.csv')

In [7]:
df.head()

,Associated_count,Time,ID,Room_Capacity,Module,Registered_Students,Hour,Date,Room,Occupancy
0,2,09:02:20,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0
1,1,09:07:24,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0
2,0,09:12:01,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0
3,0,09:16:53,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0
4,1,09:21:55,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0

In [8]:
# replace NAs in registered students

df['Registered_Students'] = df['Registered_Students'].fillna(0)

In [9]:
# create new float column to house adjusted count

df['Adjusted_Count'] = 0.0

In [10]:
# create new feature, proportion of associated count connections to room capacity

for row in range(df.shape[0]):
    assoc_count = df.columns.get_loc('Associated_count')
    adj_count = df.columns.get_loc('Adjusted_Count')
    room_cap = df.columns.get_loc('Room_Capacity')

    count_ratio = (df.iat[row, assoc_count] / df.iat[row, room_cap])
    df.iat[row, adj_count] = count_ratio

In [11]:
# create new columns to map dictionaries onto

df['Avg_Count_60min'] = df['ID']
df['Avg_Count_30min'] = df['ID']
df['Avg_Adj_Count_60min'] = df['ID']
df['Avg_Adj_Count_30min'] = df['ID']

In [12]:
# groupby to pull average features of each class

hours = df.groupby('ID')

In [13]:
# compute average associated count over 60 minutes

average_assoc_count = hours['Associated_count'].mean()

average_assoc_count = average_assoc_count.to_dict()

In [14]:
# compute average adjusted count over 60 minutes

average_adjusted_count = hours['Adjusted_Count'].mean()

average_adjusted_count = average_adjusted_count.to_dict()

In [15]:
# select only times within h:15 and h:45 to cut out spikes before and after classes

df['minute'] = df['Time']
df['minute'] = pd.to_datetime(df['minute'])
#just keep the minute of time
df['minute'] = df['minute'].apply(lambda x: x.strftime('%M'))
df_30mins = df.loc[(df['minute'] > '15') & (df['minute'] < '45')]
#made new data frame called df_1

BREAK LADS

In [16]:
half_hours = df_30mins.groupby('ID')

In [30]:
half_hours.head()

,Associated_count,Time,ID,Room_Capacity,Module,Registered_Students,Hour,Date,Room,Occupancy,Adjusted_Count,Avg_Count_60min,Avg_Count_30min,Avg_Adj_Count_60min,Avg_Adj_Count_30min,minute
3,0,09:16:53,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0.00,0.000000,92015-11-03B002,92015-11-03B002,92015-11-03B002,92015-11-03B002,16
4,1,09:21:55,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0.00,0.011111,92015-11-03B002,92015-11-03B002,92015-11-03B002,92015-11-03B002,21
5,2,09:27:00,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0.00,0.022222,92015-11-03B002,92015-11-03B002,92015-11-03B002,92015-11-03B002,27
6,1,09:32:07,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0.00,0.011111,92015-11-03B002,92015-11-03B002,92015-11-03B002,92015-11-03B002,32
7,4,09:37:18,92015-11-03B002,90,Vacant,-1,9,2015-11-03,B002,0.00,0.044444,92015-11-03B002,92015-11-03B002,92015-11-03B002,92015-11-03B002,37
15,30,10:18:06,102015-11-03B002,90,COMP30110,45,10,2015-11-03,B002,0.50,0.333333,102015-11-03B002,102015-11-03B002,102015-11-03B002,102015-11-03B002,18
16,30,10:23:02,102015-11-03B002,90,COMP30110,45,10,2015-11-03,B002,0.50,0.333333,102015-11-03B002,102015-11-03B002,102015-11-03B002,102015-11-03B002,23
17,31,10:28:09,102015-11-03B002,90,COMP30110,45,10,2015-11-03,B002,0.50,0.344444,102015-11-03B002,102015-11-03B002,102015-11-03B002,102015-11-03B002,28
18,29,10:33:16,102015-11-03B002,90,COMP30110,45,10,2015-11-03,B002,0.50,0.322222,102015-11-03B002,102015-11-03B002,102015-11-03B002,102015-11-03B002,33
19,28,10:38:22,102015-11-03B002,90,COMP30110,45,10,2015-11-03,B002,0.50,0.311111,102015-11-03B002,102015-11-03B002,102015-11-03B002,102015-11-03B002,38
27,27,11:19:48,112015-11-03B002,90,COMP30260,18,11,2015-11-03,B002,0.50,0.300000,112015-11-03B002,112015-11-03B002,112015-11-03B002,112015-11-03B002,19
28,27,11:24:51,112015-11-03B002,90,COMP30260,18,11,2015-11-03,B002,0.50,0.300000,112015-11-03B002,112015-11-03B002,112015-11-03B002,112015-11-03B002,24
29,28,11:33:13,112015-11-03B002,90,COMP30260,18,11,2015-11-03,B002,0.50,0.311111,112015-11-03B002,112015-11-03B002,112015-11-03B002,112015-11-03B002,33
30,27,11:40:38,112015-11-03B002,90,COMP30260,18,11,2015-11-03,B002,0.50,0.300000,112015-11-03B002,112015-11-03B002,112015-11-03B002,112015-11-03B002,40
38,20,12:20:57,122015-11-03B002,90,COMP40370,27,12,2015-11-03,B002,0.50,0.222222,122015-11-03B002,122015-11-03B002,122015-11-03B002,122015-11-03B002,20
39,12,12:25:58,122015-11-03B002,90,COMP40370,27,12,2015-11-03,B002,0.50,0.133333,122015-11-03B002,122015-11-03B002,122015-11-03B002,122015-11-03B002,25
40,7,12:31:02,122015-11-03B002,90,COMP40370,27,12,2015-11-03,B002,0.50,0.077778,122015-11-03B002,122015-11-03B002,122015-11-03B002,122015-11-03B002,31
41,6,12:36:12,122015-11-03B002,90,COMP40370,27,12,2015-11-03,B002,0.50,0.066667,122015-11-03B002,122015-11-03B002,122015-11-03B002,122015-11-03B002,36
42,5,12:41:24,122015-11-03B002,90,COMP40370,27,12,2015-11-03,B002,0.50,0.055556,122015-11-03B002,122015-11-03B002,122015-11-03B002,122015-11-03B002,41
49,11,13:17:24,132015-11-03B002,90,Vacant,-1,13,2015-11-03,B002,0.00,0.122222,132015-11-03B002,132015-11-03B002,132015-11-03B002,132015-11-03B002,17
50,12,13:22:20,132015-11-03B002,90,Vacant,-1,13,2015-11-03,B002,0.00,0.133333,132015-11-03B002,132015-11-03B002,132015-11-03B002,132015-11-03B002,22
51,12,13:27:29,132015-11-03B002,90,Vacant,-1,13,2015-11-03,B002,0.00,0.133333,132015-11-03B002,132015-11-03B002,132015-11-03B002,132015-11-03B002,27
52,14,13:32:38,132015-11-03B002,90,Vacant,-1,13,2015-11-03,B002,0.00,0.155556,132015-11-03B002,132015-11-03B002,132015-11-03B002,132015-11-03B002,32
53,15,13:37:50,132015-11-03B002,90,Vacant,-1,13,2015-11-03,B002,0.00,0.166667,132015-11-03B002,132015-11-03B002,132015-11-03B002,132015-11-03B002,37
61,48,14:18:32,142015-11-03B002,90,COMP30240,42,14,2015-11-03,B002,0.75,0.533333,142015-11-03B002,142015-11-03B002,142015-11-03B002,142015-11-03B002,18
62,48,14:23:32,142015-11-03B002,90,COMP30240,42,14,2015-11-03,B002,0.75,0.533333,142015-11-03B002,142015-11-03B002,142015-11-03B002,142015-11-03B002,23
63,51,14:28:46,142015-11-03B002,90,COMP30240,42,14,2015-11-03,B002,0.75,0.566667,142015-11-03B002,142015-11-03B002,142015-11-03B002,142015-11-03B002,28
64,49,14:34:16,142015-11-03B002,90,COMP30240,42,14,2015-11-03,B002,0.75,0.544444,142015-11-03B002,142015-11-03B002,142015-11-03B002,142015-11-03B002,34
65,46,14:39:00,142015-11-03B002,90,COMP30240,42,14,2015-11-03,B002,0.75,0.511111,142015-11-03B002,142015-11-03B002,142015-11-03B002,142015-11-03B002,39
73,42,15:19:30,152015-11-03B002,90,COMP30240,42,15,2015-11-03,B002,0.25,0.466667,152015-11-03B002,152015-11-03B002,152015-11-03B002,152015-11-03B002,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,31,11:18:58,112015-11-13B004,220,COMP30070,84,11,2015-11-13,B004,0.00,0.140909,112015-11-13B004,112015-11-13B004,112015-11-13B004,112015-11-13B004,18
2435,34,11:23:59,112015-11-13B004,220,COMP30070,84,11,2015-11-13,B004,0.00,0.154545,112015-11-13B004,112015-11-13B004,112015-11-13B004,112015-11-13B004,23
2436,33,11:29:02,112015-11-13B004,220,COMP30070,84,11,2015-11-13,B004,0.00,0.150000,112015-11-13B004,112015-11-13B004,112015-11-13B004,112015-11-13B004,29
2437,34,11:34:13,112015-11-13B004,220,COMP30070,84,11,2015-11-13,B004,0.00,0.154545,112015-11-13B004,112015-11-13B004,112015-11-13B004,112015-11-13B004,34
2438,37,11:39:25,112015-11-13B004,220,COMP30070,84,11,2015-11-13,B004,0.00,0.168182,112015-11-13B004,112015-11-13B004,112015-11-13B004,112015-11-13B004,39
2446,3,12:19:41,122015-11-13B004,220,Vacant,-1,12,2015-11-13,B004,0.00,0.013636,122015-11-13B004,122015-11-13B004,122015-11-13B004,122015-11-13B004,19
2447,5,12:25:21,122015-11-13B004,220,Vacant,-1,12,2015-11-13,B004,0.00,0.022727,122015-11-13B004,122015-11-13B004,122015-11-13B004,122015-11-13B004,25
2448,5,12:30:02,122015-11-13B004,220,Vacant,-1,12,2015-11-13,B004,0.00,0.022727,122015-11-13B004,122015-11-13B004,122015-11-13B004,122015-11-13B004,30
2449,9,12:35:11,122015-11-13B004,220,Vacant,-1,12,2015-11-13,B004,0.00,0.040909,122015-11-13B004,122015-11-13B004,122015-11-13B004,122015-11-13B004,35
2450,3,12:40:15,122015-11-13B004,220,Vacant,-1,12,2015-11-13,B004,0.00,0.013636,122015-11-13B004,122015-11-13B004,122015-11-13B004,122015-11-13B004,40
2458,49,13:20:42,132015-11-13B004,220,COMP20110,103,13,2015-11-13,B004,0.00,0.222727,132015-11-13B004,132015-11-13B004,132015-11-13B004,132015-11-13B004,20
2459,26,13:25:38,132015-11-13B004,220,COMP20110,103,13,2015-11-13,B004,0.00,0.118182,132015-11-13B004,132015-11-13B004,132015-11-13B004,132015-11-13B004,25
2460,18,13:30:42,132015-11-13B004,220,COMP20110,103,13,2015-11-13,B004,0.00,0.081818,132015-11-13B004,132015-11-13B004,132015-11-13B004,132015-11-13B004,30
2461,7,13:35:58,132015-11-13B004,220,COMP20110,103,13,2015-11-13,B004,0.00,0.031818,132015-11-13B004,132015-11-13B004,132015-11-13B004,132015-11-13B004,35
2462,5,13:40:53,132015-11-13B004,220,COMP20110,103,13,2015-11-13,B004,0.00,0.022727,132015-11-13B004,132015-11-13B004,132015-11-13B004,132015-11-13B004,40
2469,115,14:16:18,142015-11-13B004,220,COMP10110,113,14,2015-11-13,B004,0.50,0.522727,142015-11-13B004,142015-11-13B004,142015-11-13B004,142015-11-13B004,16
2470,118,14:21:16,142015-11-13B004,220,COMP10110,113,14,2015-11-13,B004,0.50,0.536364,142015-11-13B004,142015-11-13B004,142015-11-13B004,142015-11-13B004,21
2471,120,14:26:22,142015-11-13B004,220,COMP10110,113,14,2015-11-13,B004,0.50,0.545455,142015-11-13B004,142015-11-13B004,142015-11-13B004,142015-11-13B004,26
2472,118,14:31:22,142015-11-13B004,220,COMP10110,113,14,2015-11-13,B004,0.50,0.536364,142015-11-13B004,142015-11-13B004,142015-11-13B004,142015-11-13B004,31
2473,115,14:36:24,142015-11-13B004,220,COMP10110,113,14,2015-11-13,B004,0.50,0.522727,142015-11-13B004,142015-11-13B004,142015-11-13B004,142015-11-13B004,36
2481,4,15:16:50,152015-11-13B004,220,COMP30220,38,15,2015-11-13,B004,0.50,0.018182,152015-11-13B004,152015-11-13B004,152015-11-13B004,152015-11-13B004,16
2482,4,15:21:49,152015-11-13B004,220,COMP30220,38,15,2015-11-13,B004,0.50,0.018182,152015-11-13B004,152015-11-13B004,152015-11-13B004,152015-11-13B004,21
2483,4,15:26:53,152015-11-13B004,220,COMP30220,38,15,2015-11-13,B004,0.50,0.018182,152015-11-13B004,152015-11-13B004,152015-11-13B004,152015-11-13B004,26
2484,5,15:31:52,152015-11-13B004,220,COMP30220,38,15,2015-11-13,B004,0.50,0.022727,152015-11-13B004,152015-11-13B004,152015-11-13B004,152015-11-13B004,31
2485,5,15:36:54,152015-11-13B004,220,COMP30220,38,15,2015-11-13,B004,0.50,0.022727,152015-11-13B004,152015-11-13B004,152015-11-13B004,152015-11-13B004,36
2493,1,16:17:17,162015-11-13B004,220,Vacant,-1,16,2015-11-13,B004,0.00,0.004545,162015-11-13B004,162015-11-13B004,162015-11-13B004,162015-11-13B004,17
2494,0,16:22:15,162015-11-13B004,220,Vacant,-1,16,2015-11-13,B004,0.00,0.000000,162015-11-13B004,162015-11-13B004,162015-11-13B004,162015-11-13B004,22
2495,0,16:27:22,162015-11-13B004,220,Vacant,-1,16,2015-11-13,B004,0.00,0.000000,162015-11-13B004,162015-11-13B004,162015-11-13B004,162015-11-13B004,27
2496,0,16:32:22,162015-11-13B004,220,Vacant,-1,16,2015-11-13,B004,0.00,0.000000,162015-11-13B004,162015-11-13B004,162015-11-13B004,162015-11-13B004,32
2497,0,16:37:24,162015-11-13B004,220,Vacant,-1,16,2015-11-13,B004,0.00,0.000000,162015-11-13B004,162015-11-13B004,162015-11-13B004,162015-11-13B004,37

In [17]:
# (half_hours['Adjusted_Count'].mean() - half_hours['Adjusted_Count'].mean()).median()

In [18]:
# compute average associated count over 30 minutes

average_assoc_count_30mins = half_hours['Associated_count'].mean()

average_assoc_count_30mins = average_assoc_count_30mins.to_dict()

In [19]:
# compute average adjusted count over 30 minutes

average_adjusted_count_30mins = half_hours['Adjusted_Count'].mean()

average_adjusted_count_30mins = average_adjusted_count_30mins.to_dict()

In [20]:
df = df.replace({'Avg_Count_60min': average_assoc_count})

In [21]:
df = df.replace({'Avg_Count_30min': average_assoc_count_30mins})

In [22]:
df = df.replace({'Avg_Adj_Count_60min': average_adjusted_count})

In [23]:
df = df.replace({'Avg_Adj_Count_30min': average_adjusted_count_30mins})

In [25]:
columns_to_drop = ['Time', 'Associated_count', 'ID', 'minute', 'Adjusted_Count']

# # df = df.drop('Time', axis=1)
# # df = df.drop('Associated_count', axis=1)
# df = df.drop('ID', axis=1)
# df = df.drop('', axis=1)
# df = df.drop('ID', axis=1)

for column in columns_to_drop:
    if column in df.columns:
        df = df.drop('{}'.format(column), axis=1)
    else:
        print(column, ' is not present in DataFrame')

In [26]:
df.head(10)

,Room_Capacity,Module,Registered_Students,Hour,Date,Room,Occupancy,Avg_Count_60min,Avg_Count_30min,Avg_Adj_Count_60min,Avg_Adj_Count_30min
0,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
1,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
2,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
3,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
4,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
5,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
6,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
7,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
8,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222
9,90,Vacant,-1,9,2015-11-03,B002,0,4.75,2,0.052778,0.022222

In [27]:
df = df.drop_duplicates()

In [28]:
df = df.reset_index(drop=True)

In [29]:
df.to_csv('ABT.csv', index=False)